html {
    text-align: center;
}

table {
    padding: 10px;
    border-radius: 10px;
    background-color: #545454;
    margin: auto;
    width: 700px;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}


h2 {
    color: #00bcd4;
}


.tag {
    color: #00bcd4;
}

.th {
    color: white;
    letter-spacing: 1px;
}
