h2 {
    color: white;
}

section {
    margin: 10px 0px 10px 0px;
}


section {
    border: 1px solid white;
}

.text-styles {
    color: white;
}

.nav {
    text-align: center;
}

h2.h2 {
    text-align: center;
    color: #00bcd4;
}

.color-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.colorpanel {
    color: black;
    margin: 10px;
    Width: 250px;
    text-align: center;
    line-height: 75px;
    margin-bottom: 20px;
    font-size: 20px;
}

.fonts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    margin: 10px;
    Width: 450px;
    text-align: center;
    margin-bottom: 20px;
}

.text-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text-2 {
    margin: 10px;
    Width: 400px;
    text-align: center;
    margin-bottom: 20px;
}

.main {
    color: #ff5f00;
    text-decoration: underline;
}

.cool-blue {
    background-color: #2d5dcc;
}

.pink {
    background-color: #d957d9;
}

.mint-green {
    background-color: #4fe0b0;
}

.beige {
    background-color: #efd9ca;
}

.orange {
    background-color: orange;
}

.gray {
    background-color: gray;
}

.h3 {
    text-decoration: underline;
}

.scp {
    font-family: 'Source Code Pro', sans-serif !important;
    color: white;
}

.ns {
    font-family: 'Nunito Sans', sans-serif !important;
    color: white;
}

.poppins {
    font-family: 'Poppins', sans-serif !important;
    color: white;
}

.bold {
    font-weight: bold;
}
